@import '../variables.scss';
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/root";
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/code";
@import "../../node_modules/bootstrap/scss/media";
@import "../../node_modules/bootstrap/scss/utilities";

.wrapper, .nav-bar, .footer {
  max-width: 1200px;
  margin: auto;

  //@include mobile {
  //  width: 100%;
  //}
}

a {
  color: #000;
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }
}

.full-width {
  width: 100%;
}
