$tablet-width: 768px;
$desktop-width: 1024px;

$small-gap: 10px;
$medium-gap: 20px;
$large-gap: 40px;

$border-color: #707070;
$border-radius: .55rem;
$border-width: 1.2px;
$font-size-base: 1rem;

@mixin phone {
  @media (max-width: #{$tablet-width}) {
    @content
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}
